<div class="home-header" ng-class="{'mid': mdMedia('md'), 'sml': mdMedia('sm') }" flex="auto" layout-align="center center" layout="row">
	<div layout="row" flex="80">
		<h3 flex="60">iLetDirect is the Complete Online Solution for Landlords to Market &amp; Manage their own lets without using a high street Agent.</h3>
		<span flex></span>
	</div>
</div>
<span flex></span>