$ild-blue: #1396e2;
$light-grey: #f2f2f2; 

* {
	position: relative;
}

// Angular
[ng-click], [href] {
  &:hover {
    cursor: pointer;
  }
}

.logo {
  height: 22px;
  margin-right: 4px;
}


.home-header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1186ca+0,1395e2+50,1186ca+100 */
  background: #1186ca; /* Old browsers */
  background: -moz-linear-gradient(left,  #1186ca 0%, $ild-blue 50%, #1186ca 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1186ca), color-stop(50%,$ild-blue), color-stop(100%,#1186ca)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #1186ca 0%,$ild-blue 50%,#1186ca 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #1186ca 0%,$ild-blue 50%,#1186ca 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #1186ca 0%,$ild-blue 50%,#1186ca 100%); /* IE10+ */
  background: linear-gradient(to right,  #1186ca 0%,$ild-blue 50%,#1186ca 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1186ca', endColorstr='#1186ca',GradientType=1 ); /* IE6-9 */

  background-color: $ild-blue;
  color: white; 
  min-height:400px;
  h3 {
    font-size: 38px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    text-shadow: 4px 4px 0px rgba(17, 134, 202, 1);   
  }
  &.mid {
    min-height: 300px;
    & h3 {
      text-shadow: 3px 3px 0px rgba(17, 134, 202, 1);   
      font-size: 28px;
      line-height: 30px;
    }
  }
  &.sml {
    min-height: 200px;
    & h3 {
      text-shadow: 2px 2px 0px rgba(17, 134, 202, 1);   
      font-size: 18px;
      line-height: 20px;
    }
  }

}

#main-footer {
  max-height:300px;
  background-color: $light-grey;
}

#secondary-footer {
  background-color: darken($ild-blue, 30%);
  color: white; 
}