<!DOCTYPE html>
<html ng-app="iLetDirect">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>iLetDirect</title>

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300,100,500' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="/assets/stylesheets/angular-material.min.css" />

	<link rel="stylesheet" href="/assets/stylesheets/styles.min.css" />
	<base href="/">
</head>
<body layout="row" ng-controller="mainCtrl">

    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-2dp" md-component-id="left">

		<md-list>
		    <md-list-item ng-repeat="item in menu" role="link" md-ink-ripple>
		    	<md-icon md-svg-icon="{{item.icon}}" aria-label="{{item.title}}"></md-icon>
		      	<p><a ui-sref="{{item.link}}">{{item.title}}</a></p>
		    </md-list-item>

		    <md-divider></md-divider>

		    <md-subheader class="md-no-sticky">Management</md-subheader>

		    <md-list-item ng-repeat="item in admin" role="link" md-ink-ripple>
		    	<md-icon md-svg-icon="{{item.icon}}" aria-label="{{item.title}}"></md-icon>
		        <p>{{item.title}}</p>
		    </md-list-item>
		</md-list>

    </md-sidenav>

	<div layout="column" layout-fill>

    	<md-toolbar class="md-whiteframe-1dp" ng-show="!showSearch" md-theme="whiteToolbar">
    		<div class="md-toolbar-tools" layout="row">


    	    	<img src="/assets/images/home-icon.png" alt="iLetDirect" class="logo">

    	    	<h3>iLetDirect</h3>
    	    	<span flex></span>

    	    	<div md-theme="default">
	    	    	<md-button class="md-primary md-raised">LOGIN</md-button>
	    	    	<md-button class="md-primary md-raised">MY PORTFOLIO</md-button>
    	    	</div>

 			</div>
    	</md-toolbar>
<!--     	<md-content>
    	<md-toolbar class="md-whiteframe-1dp" md-scroll-shrink>
    		<div class="md-toolbar-tools" layout="row" layout-align="center center">
    		Some stuff
 			</div>
    	</md-toolbar>
    	</md-content>
 -->
		<div ng-if="isLoadingView" layout="column" flex layout-align="center center">
			<div flex="33">
		    	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
		    </div>
		</div>

		<div ng-if="!isLoadingView" flex layout="column">
			<div ui-view layout="column"></div>
			<span flex></span>
			<div id="main-footer" flex="auto" layout-align="center center" layout="row"> 
				<div layout="row" flex="80">
					<h3>iLetDirect Footer</h3>
				</div>
			</div>
			<div id="secondary-footer" layout-align="center center" layout="column" class="md-padding">
				<span class="md-caption">©iLetDirect. All Rights Reserved.</span>
			</div>
		</div>

	</div>


	<!-- Vendor JS Bundle -->
	<!-- <script src="assets/javascript/vendor-bundle.js"></script> -->
	<!-- Angular JS Bundle -->
	<script src="assets/javascript/angular-bundle.js"></script>

	<!-- Angular App -->
	<script src="app/app.js"></script>
	<!-- Angular Controllers -->
	<script src="app/controllers/main.js"></script>
	<script src="app/controllers/home.js"></script>	
	<!-- Angular Routes -->
	<script src="app/routes/home.js"></script>
	<!-- Angular Services -->
	<script src="app/services/data.js"></script>
</body>
</html>